/* media query for responsiveness
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}
font-family: 'Ubuntu Condensed', sans-serif;
*/

/*
    header:
    font-family: 'Yeseva One', cursive;
    
    other:
    font-family: 'Allerta Stencil', sans-serif;
*/

/* div one starts */

.divOne {
    background-image: url(../images/divone.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}

.mainHeader {
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    color: white;
    margin-top: 20%;
}

.btn {
    border-radius: 0;
}

.btnBook,
.btnMenu {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
    color: white;
    padding: 12px 20px;
}

.btnBook {
    background-color: rgba(0, 0, 0, .7);
}

.btnBook:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.btnMenu {
    background-color: rgba(241, 196, 15, .7);
}

.btnMenu:hover {
    color: white;
    background-color: rgba(243, 156, 18, .7);
}

.marginBtn {
    margin-top: 10%;
}

/* dic one ends */

/* div two starts */

.divTwo {
    background-image: url(../images/divtwo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 0px;
    padding: 50px 50px;
}

.mainFlex {
    display: flex;
    justify-content: space-between;
}

.firstFlex {
    flex-order: 1;
    width: 45%;
    padding: 25px 10px;
    box-sizing: border-box;
}

.secondFlex {
    flex-order: 2;
    width: 45%;
    padding: 25px 10px;
    box-sizing: border-box;
}

/* div two ends */

/* div three starts */


.divThree{
    background-image: url(../images/divthree.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    padding: 50px 50px;
}

.ingredientsDiv{
    background-color: rgba(0,0,0,.7);
    padding: 50px 50px;
    color: white;
}

.ingredientsDiv ul li {
    margin: 5% 2%;
}

/* third dic ends */

/* fourth dicv starts */

.divFour{
    background-image: url(../images/divfour.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 0px;
    padding: 50px 20px;
}

/* div four ends */

/* div five starts */

.divFive{
    background-image: url(../images/divfive.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 550px;
    padding: 50px;
}

/* div five ends */

/* div six starts */

.divSix{
    background-image: url(../images/divtwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 0px;
    padding: 75px 50px;
}

/* div six ends */

/* div seven starts */

.divSeven{
    background: linear-gradient(to top,  #000000 0%, #30336b 100%);
    min-height: 0px;
    padding: 50px;
    color: whitesmoke;
}

/* div seven ends */
